section 
    h3 D3Plus Visualization App
section 
    h3 outline
    ul
        li D3
        li D3Plus
        li D3Plus Visualization App     
        li Demo
        li Questions
section 
    section
        h3 D3: Data Driven Documents
        ul
            li Javascript visualization library
            li Web standards
            li Michael Bostock, Vadim Ogievetsky, Jeffrey Heer
            li Stanford / University of Washington
            li 2011 -> Present
            li Very powerful
            li Steep learning curve
            li Idiosyncratic data structures
    section 
        h3 examples
        ul
            li http://bl.ocks.org/kerryrodden/7090426
            li http://bl.ocks.org/mbostock/4063269
            li http://www.theguardian.com/world/interactive/2013/feb/12/state-of-the-union-reading-level
    section 
        h3 D3 Integration
        ul
            li Integrating a D3 visualization:
                li Copy JS / CSS 
                li Hardcode data
                li Verify visualization works
                li Write (huge) formatData function
            li Unintuitive
            li “Hacky”
section 
    section
        h3 D3Plus
        ul
            li Builds on top of D3
            li Alexander Simoes & Dave Landry
            li Simplified data structures
            li Simplified API
            li Same data structure as Splunk
            li "Data visualization made easy"
    section examples
        ul
            li http://d3plus.org/examples
        section 
            h3 simplicity
            code
section 
    h3 D3Plus Visualizations App
    ul
        li https://splunkbase.splunk.com/app/2785
        li Styled after dashboard examples app
        li Chrome + Firefox only
        li WTFPL
        li http://github.com/metasyn/splunk_d3plus
